:root {
  --color-primary: #097e70;

  --color-bg: #eee;
  --color-bg-muted: #ddd;
  --color-bg-hover: rgba(0, 0, 0, 0.25);
  --color-text: #111;
  --color-text-hover: #000;
  --color-text-muted: #aaa;
  --color-text-disabled: #444;
  --color-shadow: #aaa;

  @media (prefers-color-scheme: dark) {
    --color-bg: #111;
    --color-bg-muted: #222;
    --color-bg-hover: rgba(255, 255, 255, 0.125);
    --color-text: #eee;
    --color-text-hover: #fff;
    --color-text-muted: #aaa;
    --color-text-disabled: #666;
    --color-shadow: #000;
  }
}

[x-cloak] { display: none !important; }

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body,
#pages-container {
  height: 100vh;
  background-color: var(--color-bg);
}

body,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  &:disabled {
    svg {
      fill: var(--color-text-disabled) !important;
    }
  }

  &:hover {
    color: var(--color-text-hover);

    svg {
      fill: var(--color-text-hover);
    }
  }

  &.active {
    color: var(--color-primary) !important;

    svg {
      fill: var(--color-primary) !important;
    }
  }
}

.task-progress {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  progress {
    height: 0.5rem;
    width: 100%;
    border-radius: 0.25rem;

    flex-grow: 1;

    &::-webkit-progress-value,
    &::-moz-progress-bar {
      background-color: var(--color-primary);
    }
  }
}

#pages-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  scroll-snap-type: x mandatory;
  overflow-x: auto;
  overflow-y: hidden;

  @media (min-width: 800px) {
    margin-right: 42px;
  }

  .page {
    position: relative;
    background-color: transparent;

    scroll-snap-align: start;

    width: 100%;

    @media (min-width: 800px) {
      &.split {
        width: 50%;
        &:only-of-type {
          width: 100vw;
        }
      }
    }

    &:focus {
      /* box-shadow: 0 0 0 2px var(--color-primary) inset; */
      outline: none;
    }

    flex-shrink: 0;
    padding: 0.5rem;

    display: flex;
    flex-direction: column;

    textarea {
      resize: none;
      width: 100%;
      height: 50vh;
      padding: 0.5rem;
      margin-bottom: 0.5rem;

      &:focus {
        max-height: calc(100% - env(keyboard-inset-height, 0));
      }
    }

    &.new {
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        height: 100%;
        width: 100%;
        font-size: 10rem;
      }
    }

    &:not(:last-child) {
      border-right: 1px solid var(--color-bg-muted);
    }
  }
}

input[type="checkbox"] {
  transform: scale(1.5);
  margin: 0.25rem;
}

textarea,
input[type="text"],
button {
  background: transparent;
  color: var(--color-text);
  border: none;
  border-radius: 1px;

  &:focus {
    outline: 2px solid var(--color-primary);
  }
}

textarea,
input[type="text"] {
  font-family: monospace;
  font-size: 1rem;
}

label,
span,
time {
  color: var(--color-text);
}

svg {
  fill: var(--color-text);
}

.tasks-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: var(--color-bg);

  &:focus-within {
    transform: translateY(calc(-1 * env(keyboard-inset-height, 0)));
  }
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  flex-grow: 1;
}

.task {
  display: flex;
  flex-direction: row;
  gap: 0.125rem;
  align-items: center;
  border-radius: 2px;
  padding: 0 0.5rem;

  &:hover {
    background-color: var(--color-bg-hover);
  }

  label {
    padding: 0.5rem 0;
    cursor: pointer;
    flex-grow: 1;
  }
}

input[type="text"].new {
  padding: 0.75rem;
  margin: 0.5rem 3rem;
  background-color: var(--color-bg-muted);
}

.top-right {
  position: fixed;
  top: 0;
  right: 0;
  margin: 0.125rem;

  z-index: 2;
}

.bottom-right {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0.125rem;
}

.btn {
  padding: 0.25rem;
  margin: 0.25rem;
  border-radius: 0.25rem;
  display: flex;
  cursor: pointer;

  &:not(:disabled):hover {
    background-color: var(--color-bg-hover);
  }
}

.contextmenu, .menu {
  background-color: var(--color-bg-muted);
  border-radius: 0.25rem;
}

.contextmenu {
  z-index: 2;
  box-shadow: 0 0 5px var(--color-shadow);

  .btn {
    padding: 0.5rem 3rem;
    margin: 0;
    border-radius: 0;
  }
}

.menu {
  z-index: 3;
  box-shadow: 0 0 10px var(--color-shadow);

  ul {
    max-height: 70vh;
    overflow-y: auto;

    .preview {
      cursor: pointer;
      padding: 0.5rem 1rem;
      border-left: 3px solid transparent;

      &:hover {
        background-color: var(--color-bg-hover);
      }

      &.active {
        border-color: var(--color-primary);
      }

      &.hidden span.grow {
        filter: blur(1px);
      }

      label {
        cursor: pointer;
      }
    }
  }

  p {
    color: var(--color-text);
    font-family: monospace;
    font-size: 1rem;

    margin: 0;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  time {
    font-size: smaller;
    color: var(--color-text-muted);
  }

  footer {
    font-size: smaller;
    color: var(--color-text-muted);
    text-align: center;
    padding: 0.75rem;

    a {
      color: var(--color-text);
    }
  }
}

nav.vertical {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0.5rem;
}


/* Flex utilities */

.flex { display: flex; }
.gap { gap: 1rem; }
.grow { flex-grow: 1; }
.col { flex-direction: column; }


/* Grab handle */

.grab {
  cursor: grab;
  svg { fill: rgba(255, 255, 255, 0.25); }
}


/* Progress bar */

.progressbar {
  width: 100%;
  height: 0.5rem;
  background-color: var(--color-bg-muted);
  border-radius: 1rem;
  /* box-shadow: inset 5px 5px 5px var(--color-bg); */

  .progress {
    border-radius: 1rem;
    height: 100%;

    transition: width;
    transition-duration: 0.25s;
    transition-timing-function: ease-out;
    background-color: var(--color-primary);
  }
}
