html {
  font-size: 16px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
}

.txt {
  display: flex;
  flex-direction: row;

  padding: 0;
  margin: 0.5em 0;
}

.txt .panel {
  background: radial-gradient(circle at 30% 20%, hsl(0, 0%, 100%), hsl(0, 0%, 80%));
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  color: #222;
}

.txt header {
  display: flex;
  flex-direction: row;
}

.txt .title {
  flex-grow: 1;
  font-weight: bolder;
  padding: 0.25em 1em;
}

.txt .draggable {
  cursor: move;
  width: 16px;
  text-align: center;
}

.txt input,
.txt textarea,
.txt button {
  background: rgba(0,0,0,0%);

  border: none;
  outline: none;

  font-size: 1em;
  font-family: 'Source Code Pro', monospace;
}

.txt .controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.txt .controls button, .txt .controls input { opacity: 0; }
.txt:hover .controls button, .txt:hover .controls input { opacity: .25; }
.txt .controls:hover button, .txt .controls:hover input { opacity: 0.5; }
.txt .controls button:hover, .txt .controls input:hover { opacity: 1.0; }

.txt .controls button {
  text-align: center;
  cursor: pointer;
  font-family: monospace;
  font-weight: bold;
  padding: 8px 8px;
}

.txt .controls button:first-child {
  margin-top: 0;
}

.txt .controls button:last-child {
  margin-bottom: 0;
}

.txt button.warning {
  opacity: 1;
  width: 32px;
}

.txt button.warning:hover {
  background: coral;
}

.txt .controls .colors {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.txt .controls .colors button {
  border: 1px solid #222;
  margin: 4px;
  height: 16px;
  width: 16px;

}

.font-size {
  flex-grow: 1;
  width: 80%;
}

.txt textarea {
  box-sizing: border-box;
  padding: 0.25em 1em;
  margin: 0;

  width: 600px;
  height: 300px;
  resize: both;

  line-height: 1.25em;
}

@media only screen and (max-width: 650px) {
  .txt textarea {
    width: 90vw;
  }

  .txt .controls {
    flex-direction: column;
    align-items: center;
  }

  .dropzone, .draggable {
    display: none;
  }
}

.txt .dropzone {
  width: 32px;
  align-self: stretch;
}

.fab {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  background-color: #d23f31;
  cursor: pointer;
  outline: none;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);

  position: fixed;
  bottom: 64px;
  right: 64px;

  color: white;
  text-align: center;
  font-size: 56px;
  line-height: 56px;
}

.fab:hover {
  box-shadow: 0 0 6px rgba(0,0,0,.16), 0 6px 12px rgba(0,0,0,.32);
  transform: scale(1.1);
}


#txt_0 {
  display: none;
}
