.note {
  flex-grow: 1;
  position: relative;
  min-width: 100vw;

  display: flex;
  flex-flow: column nowrap;

  background-color: white;
  padding: 12px;
}

.note:not(:last-child) {
  border-right: 2px solid #087d70;
}

@media (min-width: 801px) {
  .note {
    min-width: 50vw;
  }
}

.note textarea {
  min-height: 8rem;
  flex-grow: 2;
  box-sizing: border-box;
  border: none;
  width: 100%;
  background-color: transparent;
  resize: none;
}

.note ul {
  overflow-y: auto;
}

.note footer {
  text-align: right;
}



button.icon {
  width: 36px;
  height: 36px;
  border: none;
  padding: 0;
  background-color: transparent;
}

button.icon svg {
  fill: #333;
}

button.icon:hover svg {
  fill: #000;
}
