.note {
  flex-grow: 1;
  position: relative;
  min-width: 100vw;

  display: flex;
  flex-flow: column nowrap;

  background-color: var(--bg-color);
  color: var(--fg-color);
  padding: 12px;
  scroll-snap-align: start;
}

.note:not(:last-child) {
  border-right: 1px solid var(--bg-grey);
}

@media (min-width: 801px) {
  .note, .addBtn {
    min-width: 50vw;
  }
}

.note textarea {
  flex-grow: 2;
  box-sizing: border-box;
  border: none;
  width: 100%;
  background-color: transparent;
  color: var(--fg-color);
  resize: none;
}

.note ul {
  overflow-y: auto;
}

.note footer {
  text-align: right;
}



button.icon {
  margin: 4px;
  padding: 0;
  line-height: 0;
  border: none;
  background-color: transparent;
}

button.icon svg {
  fill: var(--fg-grey);
}

button.icon:focus svg,
button.icon:hover svg {
  fill: var(--fg-color);
}
