.note {
  scroll-snap-align: start;
}

@media (min-width: 801px) {
  .note:not(:last-child) {
    border-right: 1px solid var(--bg-grey);
  }

  .note, .addBtn {
    min-width: 50vw;
  }
}

.note ul {
  overflow-y: auto;
}

.note footer {
  text-align: right;
}

.dropzone {
  background-color: transparent;
  height: 4px;
}

button.icon {
  margin: 4px;
  padding: 0;
  line-height: 0;
  border: none;
  background-color: transparent;
}

button.icon svg {
  fill: var(--fg-grey);
}

button.icon:focus svg,
button.icon:hover svg {
  fill: var(--fg-color);
}
