.addBtn {
  background-color: var(--bg-color);
  min-width: 100vw;
  font-size: 5rem;
  color: var(--fg-grey);
  flex-grow: 1;
  scroll-snap-align: start;
}

.addBtn:focus,
.addBtn:hover {
  color: var(--fg-color);
}
