.task {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border-radius: 2px;
}

.task label,
.task input[type=text] {
  flex-grow: 1;
  flex-shrink: 1; min-width: 0; /* https://stackoverflow.com/a/42421490/3449673 */
  font-size: 1rem;
  font-family: monospace;
  padding: 0 4px;
}

input[type=date],
input[type=text] {
  border: none;
  background-color: transparent;
  color: var(--fg-color);
}

input[type=checkbox]:checked + label,
  input[type=checkbox]:checked + label + input + span {
  text-decoration: line-through;
  color: var(--fg-grey);
}

input[type=checkbox],
input[type=date],
.task label {
  cursor: pointer;
}

span,
input[type=date] {
  font-size: small;
  flex-shrink: 0;
}

label {
  padding: 0 4px;
  user-select: none;
}

input[type="date"] {
  text-align: right;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(70%); /* make icon visible on dark background (only Chrome) */
  font-size: 18px;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
  filter: invert(100%);
}

span {
  width: 10ch;
}