.task {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border-radius: 2px;
}

.task label,
.task input[type=text] {
  flex-grow: 1;
}

input[type=text] {
  border: none;
  background-color: transparent;
  color: var(--fg-color);
}

input[type=checkbox]:checked + label {
  text-decoration: line-through;
  color: var(--fg-grey);
}

input[type=checkbox],
.task label {
  cursor: pointer;
}

label {
  padding: 0 4px;
}
