.App {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  overflow-y: hidden;
}

.App-header {
  background-color: #282c34;
  padding: 8px 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header > *,
.App-logo {
  height: 48px;
}

.App-header > button {
  border: none;
  background-color: transparent;
  color: white;
  fill: white;
  cursor: pointer;
  padding: 12px;
  border-radius: 50%;
  width: 48px;
  font-size: 18px;
  font-weight: bold;
}
.App-header > button:hover,
.App-header > button:focus {
  background-color: rgba(255, 255, 255, 0.125);
}

html {
  font-size: 112.5%;
}

body {
}

.App main {
  flex-grow: 1;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

button,
input,
textarea {
  font-size: 1rem;
  letter-spacing: normal;
}

button {
  cursor: pointer;
}
