.App {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  overflow-y: hidden;
}

.App-logo {
  height: 10vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


html {
  font-size: 112.5%;
}

body {
}

.App main {
  flex-grow: 1;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

textarea, button {
  font-size: 1rem;
}

.addBtn {
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
}
